---
layout: base.njk
permalink: index.html
---

{% if versions | length %}
  {% set latest = versions | last %}
  {% set latestPath = "/" + latest.tag + "/" %}
  <meta http-equiv="refresh" content="0; url={{ latestPath | url }}">
  <p>Redirecting to <a href="{{ latestPath | url }}">{{ latest.tag }}</a>…</p>
{% else %}
  <p>No versions published yet. Check back soon.</p>
{% endif %}
